<div class="footer">
  <ng-container *ngIf="stepAtual === 1; else senao">
    <button
      *ngIf="cpfConsulted$ | async"
      color="padrao"
      mat-raised-button
      class="next"
      (click)="nextStep()"
    >
      Iniciar nova admissão
    </button>
    <button (click)="dicasEmit()" mat-raised-button color="padrao-raised">
      Dicas de admissão
    </button>
  </ng-container>
  <ng-template #senao>
    <button color="padrao" mat-raised-button (click)="backStep()">Back</button>
    <ng-container *ngIf="!(stepAtual === steps)">
      <button color="padrao" mat-raised-button (click)="nextStep()">
        Next
      </button>
    </ng-container>
    <ng-container *ngIf="stepAtual === steps">
      <button mat-button (click)="resetStep()">Reset</button>
    </ng-container>
  </ng-template>
</div>

<ng-template #dicasRef>
  <div class="dicas">
    <h3>Check-list para abertura de conta</h3>
    <p>
      Confira algumas dicas que irão lhe ajudar neste atendimento para que a
      admissão aconteça da melhor forma possível
    </p>
    <ol>
      <li>Conheça seu cooperado</li>
      <li>Fale sobre a cooperativa</li>
      <li>Documentos e comprovações necessárias</li>
    </ol>
  </div>
</ng-template>
